.mail {
  flex: 1;
  /* background-color: whitesmoke; */
}

.mail__tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
}

.mail__tools__left {
  display: flex;
}

.mail__body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 100vh;
}

.mail__body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail__body__header__right, .mail__body__header__left {
  display: flex;
  align-items: center;
}

.mail__body__header__right > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.mail__important {
  color: #e8ab02 !important;
  margin-right: 14px;
}

.mail__body__message > p {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-word;
  letter-spacing: 0.2px;
  font-size: 0.95rem;
  line-height: 30px;

}