.emailSection {
  display: flex;
  align-items: center;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: gray;
  border-width: 0 !important;
}

.emailSection > h4 {
  font-size: 14px;
  margin-left: 15px;
}

.emailSection:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.emailSection__selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}