.mailList {
  flex: 1;
  overflow: scroll;
}

.mailList::-webkit-scrollbar {
  display: none;
}

.mailList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.emailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
  background-color: white;
}

.emailList__list {
  padding-bottom: 10%;
}